:root {
  --modal-duration: 1s;
  --primary-color: #9656f8;
  --secondary-color: #54a6f8;
  --tertiary-color: #c83bf7;
  --quaternary-color: #f854a6;
  --fifth-color: #09c3c3;
  --dark-color: #111314;
  --basic-color: #f7f7ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --modal-duration: 1s;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-color: var(--basic-color);
  color: var(--dark-color);
  transition: transform 0.3s ease;
  height: 100vh;
}

.container {
  position: relative;
  padding: 15px;
  margin: 20px auto;
  max-width: 400px;
  width: 80vw;
  /* height: 90vh; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid #f2f2f2;
  border-radius: 10px;
}

#title {
  color: var(--primary-color);
  font-size: 16px;
  margin: 10px 0;
  height: 60px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#title img {
  height: 50px;
  margin-bottom: 2px;
}

#summary-container {
  text-decoration: none;
  margin: 40px auto;
  height: 250px;
  width: 250px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--basic-color);
  background-color: var(--primary-color);
  font-size: 40px;
}

.soft-limit-color {
  background-color: var(--tertiary-color) !important;
  border-color: var(--tertiary-color) !important;
}

.hard-limit-color {
  background-color: var(--quaternary-color) !important;
  border-color: var(--quaternary-color) !important;
}

#summary {
  font-size: 75px !important;
  margin-bottom: 20px;
}

.buttons-container {
  width: 90%;
  height: 120px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.two-buttons-container {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

button,
input[type="submit"] {
  border: 0;
  border-radius: 5px;
  color: var(--basic-color);
  cursor: pointer;
  font-size: 15px;
  width: 100px;
  padding: 3px 14px;
  margin: 5px;
}

input[type="submit"] {
  background-color: var(--primary-color);
  width: 100%;
  padding: 10px 0;
  margin: 0 auto;
  margin-top: 20px;
}

button:focus {
  outline: none;
}

#small {
  background-color: var(--primary-color);
  
}

#medium {
  background-color: var(--tertiary-color);
}

#large {
  background-color: var(--secondary-color);
  
}

#last {
  background-color: var(--fifth-color);
  
}

#open-custom-drink {
  background-color: var(--quaternary-color);
}

#back-arrow-container {
  height: 50px;
  position: absolute;
  bottom: 15px;
  right: 40%;
}

#back-arrow {
  height: 50px;
}

#main-container {
  width: 100%;
  margin: 10px auto;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
}

li {
  list-style: none;
}

.date {
  margin: 10px 0;
  border-bottom: 1px solid var(--primary-color);
  font-size: 18px;
  text-align: center;
}

.day-list {
  height: 30px;
  text-align: left;
  margin: 5px 8px;
  border-bottom: 1px dashed var(--fifth-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.arrow-img {
  height: 25px;
} 

.delete-img {
  height: 20px;
} 

/* Modal */

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container.show-modal {
  display: block;
}

.modal {
  background-color: var(--basic-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  width: 400px;
  min-height: 50vh;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header {
  color: var(--primary-color);
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h3 {
  margin: 0;
}

.modal-content {
  padding: 10px 20px;
}

.modal-form div {
  margin: 15px 0;
}

.modal-form label {
  display: block;
  margin-bottom: 5px;
}

.modal-form-input {
  padding: 8px;
  width: 100%;
}

.close-btn {
  background: transparent;
  position: absolute;
  right: 0;
}

.close-btn img {
  height: 40px;
}
