:root {
  --modal-duration: 1s;
  --primary-color: #9656f8;
  --secondary-color: #5e56f7;
  --tertiary-color: #ae36db;
  --quaternary-color: #f14e82;
  --dark-color: #3b4145;
  --basic-color: #f7f7ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --modal-duration: 1s;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  background-color: var(--basic-color);
  color: var(--dark-color);
  transition: transform 0.3s ease;
  width: 100vw;
  height: 100vh;
}

.new-container {
  max-height: 853px;
  max-width: 480px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 10px;
  width: 90%;
  height: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid #f2f2f2;
  border-radius: 10px;
}

#title {
  color: var(--primary-color);
  font-size: 18px;
  margin: 15px 5px;
  height: 60px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#title img {
  height: 60px;
  margin-bottom: 4px;
}

#summary-container {
  text-decoration: none;
  margin: 35px auto;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--basic-color);
  font-size: 40px;
}

.summary-background-home {
  background: linear-gradient(
    to top,
    rgba(253, 29, 29, 1) 1%,
    rgba(204, 0, 204, 1) 50%,
    rgba(143, 57, 247, 1) 88%,
    rgba(104, 9, 220, 1) 99%
  );
}

.summary-background-soft-limit {
  background: linear-gradient(
    360deg,
    rgba(253, 29, 29, 1) -21%,
    rgba(204, 0, 204, 1) 70%,
    rgba(143, 57, 247, 1) 120%,
    rgba(104, 9, 220, 1) 13%
  );
}

.summary-background-hard-limit {
  background: linear-gradient(
    360deg,
    rgba(253, 29, 29, 1) 16%,
    rgba(204, 0, 204, 1) 92%,
    rgba(143, 57, 247, 1) 104%,
    rgba(104, 9, 220, 1) 11%
  );
}

#summary-text {
  position: relative;
  width: 170px;
  top: 45px;
  font-size: 12px;
  text-align: center;
}

#summary {
  font-size: 80px !important;
}

.buttons-container {
  width: 90%;
  height: 120px;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
}

button,
input[type="submit"] {
  border: 0;
  border-radius: 5px;
  color: var(--basic-color);
  cursor: pointer;
  font-size: 15px;
  width: 100px;
  height: 100px;
  margin: 5px;
}

input[type="submit"] {
  background: linear-gradient(
    90deg,
    rgba(253, 29, 29, 1) -50%,
    rgba(204, 0, 204, 1) 32%,
    rgba(143, 57, 247, 1) 68%,
    rgba(104, 9, 220, 1) 145%
  );
  width: 100%;
  height: 40px;
  margin: 0 auto;
  margin-top: 20px;
}

button:focus {
  outline: none;
}

#last {
  background: linear-gradient(
    45deg,
    rgba(253, 29, 29, 1) -50%,
    rgba(204, 0, 204, 1) 32%,
    rgba(143, 57, 247, 1) 68%,
    rgba(104, 9, 220, 1) 145%
  );
}

#open-custom-drink {
  background: linear-gradient(
    -45deg,
    rgba(253, 29, 29, 1) -50%,
    rgba(204, 0, 204, 1) 32%,
    rgba(143, 57, 247, 1) 68%,
    rgba(104, 9, 220, 1) 145%
  );
}

#main-container {
  width: 100%;
  margin: 10px auto;
}

.date {
  padding-left: 5px;
  font-size: 18px;
  text-align: left;
  border-bottom: 1px solid var(--secondary-color);
}

.day-list {
  font-size: 14px;
  height: 35px;
  text-align: left;
  margin-top: 5px;
  border-bottom: 1px dashed #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.arrow-img {
  height: 20px;
}

.delete-img {
  height: 25px;
}

/* Modal */

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container.show-modal {
  display: block;
}

.modal {
  background-color: var(--basic-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  width: 400px;
  min-height: 50vh;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header {
  color: var(--primary-color);
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h3 {
  margin: 0;
}

.modal-content {
  padding: 10px 15px;
}

.modal-form div {
  margin: 15px 0;
}

.modal-form label {
  display: block;
  margin-bottom: 5px;
}

.modal-form-input {
  padding: 8px;
  width: 100%;
}

.close-btn {
  background: transparent;
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
  margin-right: 15px;
}

.close-btn img {
  height: 40px;
}

@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}